@import '../../base';

.navigation {
  padding: 1rem;
  background-color: $navigation-background;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item + &__item {
    margin-left: 0.4rem;
  }

  &__button {
    @include button;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 529px) {
  .navigation__button {
    width: 5rem;
  }
}
