@import '../../assets/css/base';

.header {
  background-color: $header-background;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__title {
    font-size: 1.6rem;
    color: $header-text;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 1.6rem;

    &--accent {
      color: $accent-color;
    }
  }
}
