$white: #fff;
$black: #000;

$accent-color: #ff5500;

$button-background-disabled: #888;
$button-background: #666;
$button-text-disabled: #ddd;
$button-text: $white;

$header-background: #333;
$header-text: $white;

$navigation-background: $white;

$post-item-hover-color: #eee;
$post-item-time-text: #444;
$post-item-title-text: #222;
$post-item-url-text: $black;
$post-item-user-text: $accent-color;
$post-item-wrapper-background: $black;
$post-item-wrapper-border: 1px solid #666;
